---
- name: Ensure default path exists
  ansible.builtin.file:
    path: "{{ default_path }}/thebox"
    state: directory
    mode: "0755"

- name: Create Virtual Envs Dirtectory
  ansible.builtin.file:
    path: "{{ default_path }}/virtualenvs"
    state: directory
    mode: "0755"

- name: Create development subdirectories
  ansible.builtin.file:
    path: "{{ default_path }}/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - collections
    - collections/ansible_collections
    - collections/ansible_collections/ansible
